.App {
  width: 80rem;
  text-align: center;
  padding-top: 6rem;
  position: absolute;
  left: 20%;
  bottom: 3%;
}

.container { 
  background-color: whitesmoke;
}
.bg-img{
  width: 120rem;
  height: 60rem ;
}
.searchbar {
  padding-top: 5rem;
  padding-left: 300px;
  width: 60rem;

}

.btn-padding {
  padding: 5px;
}

.display-box {
  height: 40rem;
}

.date-container {

  display: flex;
  flex-direction: row;
}

.date-padding {
  padding-left: 230px;
  font-size: 23px;
}

.location-name {
  padding-top: 40px;
  font-weight: 400;
  font-family: monospace;
}

.weather-description {
  padding-top: 20px;
}

.temp-size {
  font-size: 100px;
  font-family: monospace;
}

.description-container {
  display: flex;
  flex-direction: row;
}

.weather-desc {
  font-size: 23px;
  padding-top: 10px;
  font-family: monospace;
}

.weather-icon {
  padding-left: 500px;
}

.windspeed {
  font-size: 25px;
  font-family: monospace;
}

.sun-container {
  display: flex;
  flex-direction: row;
  width: 25rem;
  height: 25rem;
}

.sun {
  padding-left: 320px;
}

.sun-img {
  width: 9rem;
  height: 9rem;
}

.sun-font {
  font-size: 19px;
}